<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
">

    <context:component-scan base-package="me.jxuao.chap5"/>

    <bean name="c260l" class="me.jxuao.chap5.pojo.Car"
          p:brand="BenZ" p:color="GRAY" p:name="C206L" p:maxSpeed="260"/>

    <bean name="person" class="me.jxuao.chap5.pojo.Person"
          p:name="camxu" />



</beans>