<?xml version="1.0" encoding="utf-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
">
   <aop:aspectj-autoproxy />
   <bean id="naiveWaiter" class="me.jxuao.chap8.aspectdetail85.NaiveWaiter"/>
   <bean id="naughtWaiter" class="me.jxuao.chap8.aspectdetail85.NaughtyWaiter" />
   <bean class="me.jxuao.chap8.aspectdetail85.TestAspect" />
</beans>